<form method="post">

  <div>
    <label>Логин:</label>
    <input type="text" name="user" />
  </div>
  <div>
    <label>Пароль:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <label>Имя</label>
    <input type="text" name="displayName" />
  </div>
  <div>
    <input type="submit" value="Зарегестрироваться" />
  </div>
</form>